@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  background-image: url(../public/images/noise.png);
}

/* /////////////////*/

.cardHover:hover {
  z-index: 1;
  box-shadow: 0 0 59px rgba(255,78,0,0.19);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #FF4E00; 
  rotate: 180deg;
  margin-bottom: 10px;
}

.triangle_container{
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.triangle_link {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #FF4E00; 
  position: absolute;
  rotate: 90deg;
  right: -15px;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease;
}

.triangle_container:hover .triangle_link{
  opacity: 1;
  transform: translateY(-10px);
}

.workBackground {
  background-image: url(../public/images/noise.png);

}

.headerImage {
  background-image: url("https://cdn.merixstudio.com/media/contact/header_images/2019/07/18/15/25/Contact_Header_2993_1.jpg");
  background-position: 30% 30%;
  background-size: cover;
  background-repeat: no-repeat;

}

.headerImage::before{
  content: '';
  height: 400px;
  width: 100%;
  /* background-color: red; */
  background-image: url('/public/images/noise.png');
  position: absolute;
  top: 0;
  left: 0;
}

/* ///////////////////////////////////// */

.contact-card{
  width: 100%;
  height: 100%;
  /* background-color: red; */
  position: relative;
}

.contact-card::before{
  content: '';
  height: 100%;
  width: 1px;
  border: 1px solid rgb(22, 22, 22);
  position: absolute;
  left: 0;
}


/* ///////////////////////////////////////////// */

/* wave  */
.wave-text{
  width: fit-content;
  height: 100%;
  position : relative;
  top: 0;
  padding-bottom: 10px;
}

.wave-text::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-image: url("/images/wave.svg");
  background-position: 50%;
  background-size: contain;
  background-repeat: repeat-x;
}


/* /////////////////////////////////////////////////////////////////////////// */

.boxed-input {
  position: relative;
  display: block;
  min-height: 71px;
  padding-top: 16px;
}
.boxed-input__wrapper {
  position: relative;
  display: block;
}
.boxed-input__box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  height: 55px;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease;
  transform: translate(0, 0);
  pointer-events: none;
}
.boxed-input__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background: #e6e6e6;
  transform-origin: 0 0;
}
.boxed-input__side--top,
.boxed-input__side--bottom {
  height: 16px;
  background: #d9d9d9;
  transform: skewX(-45deg);
  transform-origin: 0 100%;
}
.boxed-input__side--rear {
  top: -16px;
  right: -16px;
  left: auto;
  height: calc(100% + 1px);
  border-right: 1px solid transparent;
  background: #ededed;
}
.boxed-input__side--bottom {
  top: auto;
  bottom: 0;
  border-right: 1px solid transparent;
}
.boxed-input__side--top {
  top: -16px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
}
.boxed-input__side--front {
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
}
.boxed-input__input {
  position: relative;
  z-index: 1;
  display: block;
  transition: transform 0.25s ease-in-out;
  transform: translate(0, 0);
}
.boxed-input__select {
  position: absolute;
  z-index: 11;
  opacity: 0;
  height: 55px;
}
.boxed-input__errors {
  overflow: hidden;
  display: block;
  min-height: 26px;
  text-align: right;
  transition: transform 0.25s ease-in-out;
  transform: translate(0, 0);
}
.boxed-input__error {
  display: block;
  margin-top: 5px;
  padding-right: 2px;
  color: #dc2e10;
  font-style: italic;
  font-size: 14px;
  font-family: "Pontiac", Arial, Helvetica, sans-serif;
}
.boxed-input:not(.boxed-input--static) .boxed-input__input:focus,
.boxed-input:not(.boxed-input--static)
  .boxed-input__input:focus
  ~ .boxed-input__box,
.boxed-input:not(.boxed-input--static)
  .boxed-input__input:focus
  ~ .boxed-input__errors {
  transform: translate(-16px, 16px);
}
.boxed-input:not(.boxed-input--static)
  .boxed-input__wrapper--focus
  ~ .boxed-input__errors {
  transform: translate(-16px, 16px);
}
.boxed-input--static
  .boxed-input__input:focus
  + .boxed-input__box
  .boxed-input__side--front:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.05;
  background: #fff;
  pointer-events: none;
}
.boxed-input--textarea .boxed-input__input,
.boxed-input--textarea .boxed-input__box {
  height: 100%;
  min-height: 120px;
}
.boxed-input--select .boxed-input__box {
  position: absolute;
  height: 100%;
}
.boxed-input--error .boxed-input__side {
  border-color: #dc2e10 !important;
}


/* ////////////////////////////////////////////////////////////////// */

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #fff;
  height: 3rem;
  width: 3rem;
  position: fixed;
  top: 2rem;
  right: 3rem;
  border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__button {
    top: 1rem;
    right: 1rem;
  }
}
.navigation__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 2rem;
  right: 3rem;
  background-image: radial-gradient(#FF4E00, #f1743f);
  /* -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px); */
  z-index: 1000;
  border: 3px solid white;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
@media only screen and (max-width: 56.25em) {
  .navigation__background {
    top: 3rem;
    right: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 1rem;
    right: 1rem;
  }
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 220%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.navigation__link:link span,
.navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  -webkit-transform: translateX(1rem);
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  left: 0;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 1.5rem;  /* Navigation icon position */
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 1.5rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.5rem;
}
.navigation__icon::after {
  top: 0.5rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -0.5rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 0.5rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
